table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.div-button-add {
  position: fixed;
  bottom: 0;
  right: 0;
}
