<div class="login">
  <div class="div-form">
    <img src="/assets/logo/logo_black.png" width="150" />

    <mat-form-field class="input-login">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Your email..." [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field class="input-login">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Your password..."
        [(ngModel)]="password"
        type="password"
      />
    </mat-form-field>

    <button (click)="login()" mat-raised-button>Submit</button>
  </div>
</div>
