.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  .div-form {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
  }

  ::ng-deep.input-login {
    .mdc-text-field {
      background-color: unset !important;
      &:hover {
        background-color: unset !important;
      }
    }
  }
}
