<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
  matSortActive="dateStart"
  matSortDirection="asc"
>
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="dateStart">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by date start"
    >
      Date Start
    </th>
    <td mat-cell *matCellDef="let element">
      <span class="hidden">{{
        element.dateStart | date : "yyyy/MM/dd - HH:mm" : undefined : "fr-FR"
      }}</span>
      {{ element.dateStart | date : "dd/MM/yy - HH:mm" : undefined : "fr-FR" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="dateEnd">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by date end"
    >
      Date End
    </th>
    <td mat-cell *matCellDef="let element">
      <span class="hidden">{{
        element.dateEnd | date : "yyyy/MM/dd - HH:mm" : undefined : "fr-FR"
      }}</span>
      {{ element.dateEnd | date : "dd/MM/yy - HH:mm" : undefined : "fr-FR" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="grade">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by grade"
    >
      Grade
    </th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let gradeDisplay of grades">
        <div *ngIf="element.gradeId === gradeDisplay.id">
          {{ gradeDisplay.name }} ({{ gradeDisplay.level }})
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="modify">
    <th mat-header-cell *matHeaderCellDef>
      <mat-icon>edit</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="cursor-pointer" (click)="modifyLesson(element)"
        >edit</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td
      class="mat-cell text-center py-2"
      [attr.colspan]="displayedColumns.length"
    >
      No results found.
    </td>
  </tr>
</table>

<div id="divButtonAdd">
  <button
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="addLesson()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #viewFormLesson>
  <div class="p-4">
    <div>
      <span *ngIf="formLesson.id; else create"
        >Edit lesson: {{ formLesson.id }}</span
      >
      <ng-template #create><span>Create lesson</span></ng-template>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. HTML" [(ngModel)]="formLesson.name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date start</mat-label>
        <mtx-datetimepicker
          #datetimePicker
          [type]="'datetime'"
          [mode]="'auto'"
          [multiYearSelector]="false"
          [startView]="'month'"
          [twelvehour]="false"
          [timeInterval]="1"
          [touchUi]="true"
          [timeInput]="true"
        ></mtx-datetimepicker>
        <input
          [mtxDatetimepicker]="datetimePicker"
          [(ngModel)]="formLesson.dateStart"
          matInput
          required
        />
        <mtx-datetimepicker-toggle
          [for]="datetimePicker"
          matSuffix
        ></mtx-datetimepicker-toggle>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date end</mat-label>
        <mat-select [(ngModel)]="formLesson.dateEnd">
          <mat-option *ngFor="let time of times" [value]="time.code">{{
            time.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Grade</mat-label>
        <mat-select [(ngModel)]="formLesson.grade">
          <mat-option *ngFor="let grade of grades" [value]="grade.id"
            >{{ grade.name }} ({{ grade.level }})</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="text-center">
      <button
        mat-raised-button
        color="primary"
        (click)="createOrUpdateLesson()"
      >
        {{ formLesson.id ? "Update" : "Create" }}
      </button>
    </div>
  </div>
</ng-template>
