<p>lesson works!</p>
<!-- <mat-form-field>
  <mat-label>time</mat-label>
  <mtx-datetimepicker
    #datetimePicker
    [type]="'datetime'"
    [mode]="'auto'"
    [multiYearSelector]="false"
    [startView]="'month'"
    [twelvehour]="false"
    [timeInterval]="1"
    [touchUi]="true"
    [timeInput]="true"
  ></mtx-datetimepicker>
  <input
    [mtxDatetimepicker]="datetimePicker"
    [(ngModel)]="datetime"
    matInput
    required
  />
  <mtx-datetimepicker-toggle
    [for]="datetimePicker"
    matSuffix
  ></mtx-datetimepicker-toggle>
</mat-form-field> -->
