<div id="menu">
  <img
    routerLink="/admin"
    src="https://placeholder.com/280x80"
    class="img cursor-pointer"
  />

  <div class="mt-4">
    <div>
      <a routerLink="/admin/school">School</a>
    </div>
    <div>
      <a routerLink="/admin/administrator">Administrator</a>
    </div>
    <div>
      <a routerLink="/admin/student">Students</a>
    </div>
    <div>
      <a routerLink="/admin/grade">Grade</a>
    </div>
    <div>
      <a routerLink="/admin/lessons">Lesson</a>
    </div>

    <div class="bottom">
      <div (click)="logout()" class="cursor-pointer">Lougout</div>
    </div>
  </div>
</div>
