<div id="menu">
  <img
    routerLink="/admin"
    src="../../../../assets/logo/logo_black_horizontal.png"
    class="img cursor-pointer"
  />

  <div class="mt-4">
    <div>
      <a routerLink="/admin/school" class="link" routerLinkActive="active-link"
        >School</a
      >
    </div>
    <div>
      <a
        routerLink="/admin/administrator"
        class="link"
        routerLinkActive="active-link"
        >Administrator</a
      >
    </div>
    <div>
      <a routerLink="/admin/student" class="link" routerLinkActive="active-link"
        >Students</a
      >
    </div>
    <div>
      <a routerLink="/admin/grade" class="link" routerLinkActive="active-link"
        >Grade</a
      >
    </div>
    <div>
      <a routerLink="/admin/lessons" class="link" routerLinkActive="active-link"
        >Lesson</a
      >
    </div>

    <div class="bottom">
      <div
        (click)="logout()"
        class="flex justify-end cursor-pointer div-logout"
      >
        <img src="../../../../assets/logout.png" class="img-logout" />
      </div>
    </div>
  </div>
</div>
